# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ dev ]
defaults:
 run:
  working-directory: ./
jobs:
  build:

    runs-on: ['self-hosted', 'Linux', 'X64']

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - run: cd ~/actions-runner/deploy/jimmyTokenApi/jimmyTokenApi
    - run: sudo docker container stop jimmyTokenApiContainer || true
    - run: sudo docker container stop jimmyTokenPostgres || true
    - run: sudo docker container rm jimmyTokenApiContainer || true
    - run: sudo docker image rm token || true
    - run: sudo docker build -t token .
    - run:  sudo docker container start jimmyTokenPostgres || sudo docker run --name Postgres -e POSTGRES_ROOT_PASSWORD=postgres -e POSTGRES_DATABASE=postgres -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=postgres -d postgres:alpine 
    - run: sudo docker run --name jimmyTokenApiContainer -p 1000:1000 --link jimmyTokenPostgres:postgres token | echo "success"
